// /*|---------------| @media #{$BREAKPOINT-DESK}|---------------*/

$BREAKPOINT-DESK: "only screen and (min-width : 1200px)";
$BREAKPOINT-TABLETS: "only screen and (min-width: 920px)";
$BREAKPOINT-MOBILE: "only screen and (min-width: 720px)";

/*|---------------|MIXINS|---------------*/

